.App {
  font-family: "Inter", sans-serif;
  width: 80%;
  height: 100%;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1b21;
  border-radius: 0.8em;
}

.headshot {
  width: 90%;
  height: 40%;
  margin: 0;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  margin: 0.7em 0 0.2em 0;
  color: #ffffff;
}

.career-title {
  margin: 0;
  margin-bottom: 0.6em;
  color: #f3bf99;
  font-weight: 200;
  font-size: 0.8em;
}

.website {
  color: #f5f5f5;
  font-size: 0.6em;
  margin: 0;
  margin-bottom: 1.9em;
}

button {
  font-family: "Inter", sans-serif;
  padding: 1em 2.5em;
  border-radius: 8px;
  font-weight: 600;
}

.email-btn {
  background-color: #ffffff;
}

.linkedin-btn {
  background-color: #5093e2;
  color: #ffffff;
}

.about-interests-container {
  width: 75%;
  margin: 2.4em;
}

.about__section-title,
.interests__section-title {
  color: #f5f5f5;
  margin: 0;
  margin-bottom: 0.3em;
}

.paragraph {
  color: #dcdcdc;
  font-size: 0.7em;
  margin: 0;
  margin-bottom: 1.3em;
  line-height: 1.5em;
}
